<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="1px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer">
            <button mat-button [routerLink]="['/dishdetail', next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
          </span>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex [hidden]="dish || errMess">
      <mat-spinner></mat-spinner>
      <h4>Loading...</h4>
    </div>
  
    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{ errMess }}</h4>
    </div>
  </div>

  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Comments</h3>
          </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let comment of dish.comments">
              <p matLine> {{comment.comment}} </p>
              <p matLine> {{comment.rating}} stars</p>
              <p matLine> -- {{comment.author}}  {{comment.date | date}}</p>
            </mat-list-item>
            <div *ngIf="displayPreview">
            <mat-list-item>
              <p matLine> {{ newCommentForm.value.name }} </p>
              <p matLine> {{ newCommentForm.value.comment }} </p>          
            </mat-list-item>
          </div>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Post new comment:</h3>
          </mat-card-title>
        </mat-card-header>
        
      <mat-card-content>
              <div>
                <form novalidate [formGroup]="newCommentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                  <p>
                    <mat-form-field class="half-width">
                      <input matInput formControlName="name" placeholder="Name" type="text" required>
                      <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-slider
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1"
                    min="1"
                    max="5"
                    value="5"
                    (input)="pitch($event)"></mat-slider>
                  </p>

                  <p>
                    <mat-form-field class="half-width">
                      <textarea matInput formControlName="comment" placeholder="Your comment" required
                        rows=5></textarea>
                        <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                    </mat-form-field>  
                  </p>

                  <p>
                    <button type="submit" mat-button class="background-primary text-floral-white" 
                    [disabled]="newCommentForm.invalid">Submit</button>
                  </p>
                </form> 
              </div>
        </mat-card-content> 
      </mat-card>  
    </div> 
  </div> 
  
</div>

